.cocktail{
    display: flex;
    flex-direction: row;
    border: 2px solid orange;
    margin-bottom: 2rem;
    min-height: 300px;
    width: 100%;
    font-family: 'Now';
}

.cocktail__image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    width: 25%;
    min-height: 300px;
    max-width: 400px;
    height: 100%;
}

.cocktail__info{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 60%;
}
.cocktail__title{
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
    color: orange;
    
    text-transform: uppercase;
}

.cocktail__infotitle{
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
    color: #3f7273;
    
}

.cocktail__ingredients{
    color: white;
    font-size: 1.1rem;
    list-style: none;
    
}

.cocktail__ingredients li{
    border-bottom: 1px solid #3f7273;
    margin-top: 0.1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cocktail__ingredients__measure{
}

.cocktail__btndiv{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.cocktail__detailsbtn{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid black;
    background-color: #3f7273;
    transition: 0.3s ease;
    
}

.cocktail__detailsbtn:hover{
    color: white;
    border: 1px solid white;
    background-color: #264a4b;
    cursor: pointer;
    
}


@media (max-width: 1140px){
    .cocktail{
        flex-direction: column;
    }

    .cocktail__image{
        margin: 1rem auto 0 auto;
    }

    .cocktail__btndiv,
    .cocktail__image,
    .cocktail__info{
        width: 100%;
        text-align: center;
    }

    .cocktail__btndiv{
        justify-content: center;
        margin-bottom: 1rem;
    }
}


/* 
.cocktail{
    width: 100%;
    display: grid;
    grid-template-areas:
    "image image title ." 
    "image image ingredients ."
    "image image ingredients button";
    grid-template-columns: 1fr 1fr 3fr 1fr;


    color: white;
    border: 1px solid orange;

    margin-bottom: 3rem;

    max-height: 300px;
}

.cocktail__image{
    grid-area: image;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    background: #000;


}



.cocktail__title{
    grid-area: title;
    align-self: center;
    text-align: left;
    font-size: 2rem;

    color: orange;
}

.cocktail__ingredients{
    grid-area: ingredients;

    font-size: 1.1rem;


}

.cocktail__title,
.cocktail__ingredients{
    margin-left: 2rem;
}

.cocktail__detailsbtn{
    grid-area: button;
    margin: auto;
    padding: 1rem;
    width: 80%;

    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px solid #264445;
    background-color: #3f7273;
    border-radius: 3%;

    transition: 0.2s ease;
}

.cocktail__detailsbtn:hover{
    background-color: rgb(38, 68, 69);
} */