.cocktail{
    display: flex;
    flex-direction: row;
    border: 2px solid orange;
    margin-bottom: 2rem;
    min-height: 300px;
    width: 100%;
    font-family: 'Now';

    transition: 0.2s ease;
}


.cocktail__left{
    width: 25%;
    min-height: 300px;
    max-width: 400px;
}

.cocktail__image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    min-height: 300px;
    max-width: 400px;
    height: 100%;
}

.cocktail__info{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 60%;
}
.cocktail__title{
    margin-bottom: 1rem;
    font-size: 2.4rem;
    color: orange;
    
    text-transform: uppercase;
}

.cocktail__infotitle{
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
    color: #3f7273;
    
}

.cocktail__ingredients{
    color: white;
    font-size: 1.1rem;
    list-style: none;
    
}

.cocktail__ingredients li{
    border-bottom: 1px solid #3f7273;
    margin-top: 0.1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cocktail__ingredients__measure{
}

.cocktail__btndiv{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.cocktail__detailsbtn{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    background-color: #3f7273;
    transition: 0.3s ease;
    
}

.cocktail__detailsbtn:hover{
    border: 1px solid orange;
    background-color: orange;
    cursor: pointer;
}


@media (max-width: 1140px){
    .cocktail{
        flex-direction: column;
    }


    .cocktail__btndiv,
    .cocktail__left,
    .cocktail__info{
        width: 100%;
        text-align: center;
    }

    
    .cocktail__left{
        margin: 1rem auto 0 auto;
    }

    .cocktail__image{
        width: 100%;
        height: 100%;
    }

    .cocktail__btndiv{
        justify-content: center;
        margin-bottom: 1rem;
    }

    .cocktail__title{
        margin-top: 1rem;
    }

    .cocktail__infotitle{
        margin-bottom: 1rem;
    }
}

@media(max-width: 465px){
    .cocktail__left{
        margin: 0 auto;
    }
}