

.details{
    background-color: rgb(65, 65, 65);
    border: 2px solid orange;
    font-family: 'Now';

}

/*utilities*/

.details__spanleft{

}

.list{
    list-style: none;
}

.list_item{
    border-bottom: 1px solid #3f7273;
    margin-top: 0.1rem;
    display: flex;
    justify-content: space-between;
}

.list_item, .details__instructions__para{
    font-size: 1.1rem;
}

.list_item,.details__instructions__para,h1,h2{
    word-wrap: break-word; /* Dla IE<9 */
}

/*main */

.details__button button{
    margin: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    background-color: #3f7273;
    transition: 0.3s ease;
    

}

.details__button button:hover{
    border: 1px solid orange;
    background-color: orange;
    cursor: pointer;
}

.details__name{
    margin-top: 1.2rem;
    font-size: 2rem;
    color: orange;
    text-align: center;
    text-transform: uppercase;
}


.details__image{
    margin: 1rem auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    min-height: 300px;
    max-width: 300px;
}

.details__flex{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;


}

.details__flex__left,
.details__flex__right{
width: 45%;
}


.details__flex__heading{
    margin: 2rem 0 1rem 0;
    color: orange;
}

.details__flex__right{
}

.details__spanleft{
    margin: 0.1rem 0.2rem;
}

.details__spanright{
    text-align: right;
}

.details__instructions{

    margin: 2rem;
}



@media (max-width: 950px){
    .details__flex{
        flex-direction: column;
    }

    .details__flex__left,
    .details__flex__right{
        width: 100%;
    }

}

@media(max-width: 550px){
    .details__name{
        font-size: 1.5rem;
    }

}
