.footer{
    width: 100%;
    background-color: black;
    border-top: 3px solid black;
    color: white;
    padding: 1rem;

    text-align: center;
}

.footer__title{
    color: orange;
    font-family: 'Now';
    text-transform: uppercase;
}